:root {
  --font-size-xsmall: 10px;
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-large: 18px;

  --font-color-secondary-text: #6A737D;

  --spacing-small: 10px;
  --spacing-normal: 20px;
}
