layout-spacing-small = 10px;
layout-spacing-normal = 20px;

border-devider = 1px solid #E0E0E0

bgcolor-secondary = #FAFAFA

/**
 * Align a block element in the container vertically and horizontally.
 */
align-center()
  display flex
  align-items center
  justify-content center
