@import "../../styles/font"
@import "../../styles/color"
@import "../../styles/layout"

list-item-height = 60px
repository-name-height = list-item-height / 2

.card
  margin-bottom layout-spacing-normal
  &:last-child
    margin-bottom 0

.info
  overflow hidden

.icons
  align-center-vertical()
  flex 0 0 60px

.repository-name
  font-size font-size-large

.repository-path
  color font-color-secondary-text
  font-size font-size-small

.action
  margin-right layout-spacing-small
  &.open
    color font-color-secondary-text
