<div class="repository-container">
  <div class="card" *ngFor="let r of repositories">
    <header class="card-header">
      <p class="card-header-title">
        {{r.name}}
      </p>
    </header>
    <div class="card-content">
      {{r.path}}
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item" (click)="$event.preventDefault(); openClick.emit(r)">
        <i class="material-icons">folder</i>
      </a>
      <a href="#" class="card-footer-item" (click)="$event.preventDefault(); deleteClick.emit(r)">
        <i class="material-icons">delete</i>
      </a>
    </footer>
  </div>
</div>
