@import "../../styles/font"
@import "../../styles/layout"

.repository-container
  display flex
  flex-wrap wrap

.card:not(:last-child)
  margin-bottom layout-spacing-normal
  margin-right layout-spacing-normal

.card-content
  word-break break-all

.card-footer-item
  i
    color font-color-secondary-text
