<mat-card class="card" *ngFor="let r of repositories">
  <mat-card-content>
    <div class="columns">
      <div class="icons">
        <i class="action clickable open material-icons" (click)="openClick.emit(r)">folder</i>
        <i class="action clickable delete need-caution material-icons" (click)="deleteClick.emit(r)">delete</i>
      </div>
      <div class="column">
        <div>
          {{r.name}}
        </div>
        <div class="repository-path">
          {{r.path}}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
