.wrapper {
  padding: 0 var(--spacing-small);
}

.change-entry {
  align-items: center;
  display: flex;
  height: 30px;
  flex-grow: 1;
  font-size: var(--font-size-small);
}

.path {
  flex: 1;
  overflow-x: hidden;
}

.icon {
  margin-left: var(--spacing-small);
  font-size: 20px;
}

.actions {
  overflow: hidden;
  transition: width 0.1s ease-out;
  white-space: nowrap;

  .icon {
    margin-left: 0;
  }
}

.wrapper:hover {
  .actions:not(.unstaged) {
    width: 25px;
  }
  .actions.unstaged {
    width: 50px;
  }
}
.wrapper:not(:hover) {
  .actions {
    width: 0px;
  }
}

/* Customize icon colors here. Class names are equivalent to Material icons name. */
.icon {
  &.add_circle_outline { color: #009688; }
  &.check_circle { color: #009688; }
  &.delete { color: #FF5722; }
  &.arrow_forward { color: #03A9F4; }
  &.warning { color: #E91E63; }
}
