<div class="container">
  <div class="header">
    <div>
      <button mat-button class="smaller" [class.loading]="isFetching" [disabled]="isInAction" color="primary" (click)="fetch()">
        <i class="material-icons">file_download</i>Fetch
      </button>
      <button mat-button class="smaller" [class.loading]="isPushing" [disabled]="isInAction" color="primary" (click)="push()">
        <i class="material-icons">file_upload</i>Push
      </button>
      <button mat-button class="smaller" color="primary" (click)="openNewBranchDialog()">
        <i class="material-icons">new_releases</i>New Branch
      </button>
    </div>
  </div>

  <div class="list fancy-scroll">
    <app-branch-list [branches]="b_ranches" (checkout)="checkout($event)"></app-branch-list>
  </div>
</div>
