@import "../../styles/font"
@import "../../styles/layout"

hover-bgcolor = #E0E0E0
branch-height = 40px

.container
  height 100%

.new-branch
  display flex
  .new-branch-name
    flex 1
  .create-branch
    button
      margin-left layout-spacing-small
      margin-top 5px

.branch-list
  display flex
  flex-direction column
  flex-grow 1

.branch
  align-center-vertical()
  display flex
  flex 0 0 branch-height
  font-size font-size-normal
  padding-right layout-spacing-small
  padding-left layout-spacing-small

  &:hover
    background-color hover-bgcolor
    transition background-color 150ms 0s ease-out

    .buttons
      opacity 1
  
  &.current
    font-weight bold

  &.disabled
    color font-color-secondary-text
    cursor default

  // Display order.
  order: 2
  &.current
    order: 1

.branch-name
  flex 1
  height branch-height
  line-height branch-height
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.buttons
  opacity 0
  transition opacity 150ms 0s ease-out
