@import "../../styles/_variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: var(--devider);
  padding: var(--spacing-normal);
}

.list {
  flex: 1;
}

.current {
  font-weight: bold;
}

.can-checkout {
  cursor: pointer;
}

.remote {
  color: var(--font-color-secondary-text);
}

.col-icon {
  flex: 0 0 50px;
}

.material-icons{
  color: var(--font-color-secondary-text);
}
