@import "../../styles/_variables";

// layout

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.diff {
  flex: 1;
}

.file-operation {
  flex: 0 0 50px;
}

.file-operation {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: var(--spacing-small);
}

.image-container {
  margin-left: var(--spacing-normal);
  margin-right: var(--spacing-normal);
  margin-top: var(--spacing-normal);
  &:last-child {
    margin-bottom: var(--spacing-normal);
  }
}

.no-diff {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
