<div class="container">
  <div class="file-opening">
    <div *ngIf="_workingfile">
      <button mat-button class="smaller" [color]="buttonColor" [disabled]="!editable" (click)="apply()">{{buttonText}}</button>
      <button mat-button class="smaller" color="warn" [disabled]="_workingfile.indexState !== 'unstaged'" (click)="discardChanges(_workingfile)">Discard Changes</button>
      <span class="filepath">{{_workingfile && _workingfile.path}}</span>
    </div>
  </div>
  <div *ngIf="fileDiff; else noDiff" class="diff fancy-scroll">
    <div class="hunk-container" *ngFor="let hunk of fileDiff.hunks">
      <app-hunk [hunk]="hunk" [fileChange]="_workingfile" (hunkStatusChange)="onHunkStatusChange()" (patch)="apply($event)"></app-hunk>
    </div>
  </div>
</div>

<!-- When no diff is provided. -->
<ng-template #noDiff>
  <div class="no-diff">
    <div>
      <img src="assets/app.png" style="opacity:0.3;">
    </div>
  </div>
</ng-template>
