@import "../../styles/_variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.file-opening {
  border-bottom: var(--devider);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: var(--spacing-small);
}

.hunk-container,
.image-container {
  margin-left: var(--spacing-normal);
  margin-right: var(--spacing-normal);
  margin-top: var(--spacing-normal);
  &:last-child {
    margin-bottom: var(--spacing-normal);
  }
}

.diff {
  flex: 1;
}

.no-diff {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
