@import "../../styles/font"
@import "../../styles/layout"

.container
  display flex
  flex-direction column
  height 100%

.action
  border-bottom border-devider
  box-sizing border-box
  padding layout-spacing-small

  *:not(:first-child)
    margin-left layout-spacing-small

.hunk-container
  margin-left layout-spacing-small
  margin-right layout-spacing-small
  margin-top layout-spacing-small
  &:last-child
    margin-bottom layout-spacing-small

.diff
  flex 1

.no-diff
  align-center()
  height 100%
