@import "../../styles/font"
@import "../../styles/layout"

.hunks-container
  display flex
  flex-direction column
  height 100%

.action
  padding layout-spacing-normal
  border-bottom border-devider

  *:not(:first-child)
    margin-left layout-spacing-small

.hunk-container
  margin-left layout-spacing-normal
  margin-right layout-spacing-normal
  margin-top layout-spacing-normal
  &:last-child
    margin-bottom layout-spacing-normal

.diff
  flex 1

.no-diff
  align-center()
  height 100%
