<div class="container">
  <div *ngIf="_workingfile" class="action">
    <button class="button is-primary" [disabled]="!editable" (click)="apply()">{{buttonText}}</button>
    <button class="button is-warning" [disabled]="_workingfile.indexState !== 'unstaged'" (click)="discardChanges(_workingfile)">Discard Changes</button>
  </div>
  <div *ngIf="fileDiff; else noDiff" class="diff fancy-scroll">
    <div class="hunk-container" *ngFor="let hunk of fileDiff.hunks">
      <app-hunk [hunk]="hunk" [fileChange]="_workingfile" (hunkStatusChange)="onHunkStatusChange()" (patch)="apply($event)"></app-hunk>
    </div>
  </div>
</div>

<!-- When no diff is provided. -->
<ng-template #noDiff>
  <div class="no-diff">
    <img src="assets/app.png" style="opacity:0.3;">
  </div>
</ng-template>
