@import "../../styles/font"
@import "../../styles/layout"

header-color = #616161

h2, h3
  color font-color-secondary-text
  font-weight normal

h2
  font-size font-size-xlarge

h3
  font-size font-size-large

.container
  padding layout-spacing-normal

.content
  max-width 900px
  width 100%

.list
  flex-grow 1

.line
  align-items center
  display flex
  flex-wrap wrap

  div:not(:first-child)
    margin-left layout-spacing-small

.take-rest
  flex 1
