@import "../../styles/font"
@import "../../styles/layout"

.container
  padding layout-spacing-normal

.content
  max-width 940px
  width 100%

.line
  display flex
  flex-wrap wrap

  div:not(:first-child)
    margin-left layout-spacing-small

.take-rest
  flex 1
