<mat-card [@flyin]="'in'">
  <mat-card-content>
    <div class="header {{hunk.selectedState}}" (click)="toggleHunkSelectState(hunk)">
      <div class="add-operation">
        <span *ngIf="editable" class="icon"></span>
      </div>
      <div class="content">
        <pre>{{hunk.header.content}}</pre>
      </div>
    </div>

    <div class="lines">
      <!-- Each line of hunk -->
      <div *ngFor="let line of hunk.lines" class="line {{line.type}}" [class.selected]="line.selected" (click)="toggleSelected(line)">
        <!-- Line background color -->
        <div class="diff-background {{line.type}}" [class.selected]="line.selected"></div>

        <pre class="line-components">
          <span style="line-height:1;">
            <i *ngIf="editable && line.type !== 'unchanged'" class="material-icons">{{line.selected ? 'check_box' : 'check_box_outline_blank'}}</i>
          </span>
          <span>b</span>
          <span>c</span>
        </pre>

        <!-- <pre class="line-components">
          <div class="add-operation">
            <span *ngIf="editable && line.type !== 'unchanged'" class="icon"></span>
          </div>
          <div class="line-no line-no-before">
            <span *ngIf="line.oldLineNo > -1">{{line.oldLineNo}}</span>
          </div>
          <div class="line-no line-no-after">
            <span *ngIf="line.newLineNo > -1">{{line.newLineNo}}</span>
          </div>
          <div class="devider"></div>
          <div class="content">
            <pre>{{line.content}}</pre>
          </div>
        </pre> -->
      </div>

    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button class="smaller" [color]="buttonColor" (click)="patch.emit(hunk)" [disabled]="hunk.selectedState === 'none'">{{buttonText}}</button>
  </mat-card-actions>
</mat-card>
