@import "../../styles/font"
@import "../../styles/layout"

icon-size = 15px

// Material Design Card component customize
.mat-card
  padding 0
  padding-bottom 24px
.mat-card-content
  margin-bottom 0
.mat-card-actions
  margin-left 0
  margin-right 0
  padding-left 8px
  padding-right 8px

.check
  flex 0 0 35px
  .material-icons
    color font-color-secondary-text
    font-size icon-size
    margin-top 4px
    text-align center
    width 35px

.header
  align-items center
  background-color #1E88E5
  border-top-left-radius 2px
  border-top-right-radius 2px
  color #fff
  display flex
  font-size font-size-small
  height 25px
  &.none
    opacity 0.6

  .check
    .material-icons
      margin-top 3px
      color #fff

.line
  position relative

  .diff-background
    bottom 0
    left 0
    opacity 0.2
    position absolute
    right 0
    top 0
    transition opacity 100ms 0s ease-out
    z-index 0
    &.plus
      background-color #4CAF50
    &.minus
      background-color #F44336
    &.selected
      opacity 0.4

  .line-components
    display flex
    font-size 11px
    line-height 23px
    margin 0
    white-space pre-wrap
    word-break break-all

    span
      display inline-block
      z-index 1

  .line-no
    color font-color-secondary-text
    flex 0 0 30px
    margin-right layout-spacing-small
    text-align right

  .devider
    border-right 4px solid #E0E0E0
    flex 0 0 0px

  .content
    margin-left layout-spacing-small
    margin-right layout-spacing-small
