<mat-card [@fadein]="'in'">
  <mat-card-content>
    <div class="header {{hunk.selectedState}}" (click)="toggleHunkSelectState(hunk)">
      <div class="check">
        <span *ngIf="editable">
          <i class="material-icons">{{headerCheckIconName}}</i>
        </span>
      </div>
      <div class="content">
        <pre>{{hunk.header.content}}</pre>
      </div>
    </div>

    <div class="lines">
      <!-- Each line of hunk -->
      <div *ngFor="let line of hunk.lines" class="line {{line.type}}" [class.selected]="line.selected" (click)="toggleSelected(line)">
        <!-- Line background color -->
        <div class="diff-background {{line.type}}" [class.selected]="line.selected"></div>
        <!-- Line elements -->
        <pre class="line-components">
          <span class="check" style="line-height:1;"><i *ngIf="editable && line.type !== 'unchanged'" class="material-icons">{{line.selected ? 'check_box' : 'check_box_outline_blank'}}</i></span>
          <span class="line-no line-no-before"><span *ngIf="line.oldLineNo > -1">{{line.oldLineNo}}</span></span>
          <span class="line-no line-no-after"><span *ngIf="line.newLineNo > -1">{{line.newLineNo}}</span></span>
          <span class="devider"></span>
          <span class="content">{{line.content}}</span>
        </pre>
      </div>

    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button class="smaller" [color]="buttonColor" (click)="patch.emit(hunk)" [disabled]="hunk.selectedState === 'none'">{{buttonText}}</button>
  </mat-card-actions>
</mat-card>
