<h3 mat-dialog-title>Create a Branch</h3>

<mat-dialog-content>
  <mat-form-field style="font-size: 12px; width: 100%">
    <input matInput placeholder="Name" [(ngModel)]="newBranchName">
  </mat-form-field>
  <div class="base-branch">
    based on {{baseBranch.name}}
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="dialog-action">
    <button mat-button class="smaller" [mat-dialog-close]="true">Cancel</button>
    <button mat-button color="primary" class="smaller" (click)="createBranch()">Create Branch</button>
  </div>
</mat-dialog-actions>
