@import "../styles/font"
@import "../styles/layout"

hover-bgcolor = #E0E0E0

.container
  display flex
  justify-content center

.branch-list
  display flex
  flex-direction column
  flex-grow 1
  margin-bottom layout-spacing-normal
  margin-top layout-spacing-normal
  max-width 400px

.branch
  align-center-vertical()
  display flex
  font-size font-size-normal
  height 50px
  padding-right layout-spacing-small
  padding-left layout-spacing-small

  &:hover
    // background-color hover-bgcolor
    transition background-color 150ms 0s ease-out

    .checkout
      opacity 1
    .buttons
      opacity 1
  
  &.current
    font-weight bold

  &.disabled
    color font-color-secondary-text
    cursor default

  // Display order.
  order: 2
  &.current
    order: 1

.checkout
  flex 0 0 100px
  margin-right layout-spacing-small
  opacity 0.5
  text-align right
  // transition opacity 150ms 0s ease-out

.branch-name
  flex 1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.buttons
  opacity 0.5
  flex 0 0 100px
  text-align right
