@import "../styles/font"
@import "../styles/layout"

.container
  display flex
  justify-content center

.branch-list
  margin 0
  padding 0

.title
  align-items center
  display flex
  font-size font-size-normal
  height 50px
  padding 0 layout-spacing-small

.list-item
  list-style none

.branch
  align-items center
  display flex
  font-size font-size-normal
  height 40px
