@import "../styles/font"
@import "../styles/layout"

hover-bgcolor = #E0E0E0

.container
  display flex
  justify-content center

.branch-list
  display flex
  flex-direction column
  flex-grow 1
  margin-bottom layout-spacing-normal
  margin-top layout-spacing-normal
  max-width 350px

.branch
  align-center-vertical()
  display flex
  font-size font-size-normal
  height 50px
  padding-right layout-spacing-small
  padding-left layout-spacing-small

  &:hover
    background-color hover-bgcolor

  &.current
    font-weight bold

  // Display order.
  order: 2
  &.current
    order: 1


.branch-name
  flex 1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap


.chip
  margin-left layout-spacing-small

.buttons
  flex 0 0 120px
  text-align right
