.change-entry {
  display: flex;
  height: 30px;
  line-height: 30px;
}

.selected {
  background-color: #CFD8DC;
}

.status-icon {
  position: relative;
  text-align: center;
  width: 40px; /* fix icon area width */
}

.icon {
  line-height: 30px;
  font-size: 20px;
}

/**
Customize icon colors here.
Class names are equivalent to Material icons name.
*/
.status-icon.add_circle_outline {
  color: #009688;
  /* color: #fff;
  background-color: #009688; */
}
.status-icon.check_circle {
  color: #009688;
  /* color: #fff;
  background-color: #009688; */
}
.status-icon.delete {
  color: #FF5722;
  /* color: #fff;
  background-color: #FF5722; */
}
.status-icon.arrow_forward {
  color: #03A9F4;
  /* color: #fff;
  background-color: #03A9F4; */
}
.status-icon.warning {
  color: #E91E63;
  /* color: #fff;
  background-color: #E91E63; */
}

.path {
  display: flex;
  flex: 1; /* file path takes the rest */
  font-size: 12px;
  overflow-x: hidden;
  padding-right: 5px;
  white-space: nowrap;
  width: 100%;
}

.dir, .sep {
  color: #757575;
}

.dir {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sep {
  /* width: 7px; */
}
.filename {
  flex: 1;
}