@import "../styles/font"
@import "../styles/layout"

.wrapper
  padding 0 layout-spacing-small

.change-entry
  align-items center
  display flex
  height 30px
  flex-grow 1
  font-size font-size-small

.status-icon
  text-align right
  width 25px

.icon
  font-size 20px

/* Customize icon colors here. Class names are equivalent to Material icons name. */
.status-icon
  &.add_circle_outline
    color #009688
  &.check_circle
    color #009688
  &.delete
    color #FF5722
  &.arrow_forward
    color #03A9F4
  &.warning
    color #E91E63


.path
  display flex
  flex 1
  overflow-x hidden
  white-space nowrap

.dir, .sep
  color font-color-secondary-text

.dir
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.filename
  flex 1
