<div class="wrapper" [@size]="size" (mouseenter)="toggleMouseoverState('enter')" (mouseleave)="toggleMouseoverState('leave')">
  <div class="title">
    <div>
      # Commit
    </div>
  </div>
  <mat-form-field style="font-size: 12px; width: 100%;">
    <input #summaryInput matInput placeholder="Summary" [value]="summary" (focus)="toggleInputFocusState('focus')" (blur)="toggleInputFocusState('blur')"
      (keyup)="updateSummary(summaryInput.value)">
  </mat-form-field>
  <mat-form-field style="font-size: 12px; width: 100%;">
    <textarea style="height: 80px;" matInput placeholder="Description" (focus)="toggleInputFocusState('focus')" (blur)="toggleInputFocusState('blur')"
      [(ngModel)]="description"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!commitable" class="smaller" (click)="commit()">Commit</button>
</div>
