<div class="container">
  <div class="file-opening">
    <button mat-button color="primary" (click)="addSelection()">Add Selection</button>
    {{_workingfile && _workingfile.path}}
  </div>
  <div *ngIf="fileDiff" class="diff fancy-scroll">
    <div *ngFor="let hunk of fileDiff.hunks">
      <app-hunk [hunk]="hunk" [fileChange]="_workingfile"></app-hunk>
    </div>
  </div>
  <div *ngIf="!fileDiff" class="diff fancy-scroll">
    <div class="center">
      <img src="assets/app.png" style="opacity:0.5;" alt="" srcset="">
    </div>
  </div>
</div>
