<div class="container">
  <div class="file-opening">
    <button mat-button color="primary" (click)="addSelection()">Add Selection</button>
    {{_filepath}}
  </div>
  <div *ngIf="fileDiff" class="diff fancy-scroll">
    <div *ngFor="let hunk of fileDiff.hunks">
      <app-hunk [hunk]="hunk"></app-hunk>
    </div>
  </div>
  <div *ngIf="!fileDiff">
    <div style="height:calc(100vh - 80px); display:flex; justify-content:center; align-items:center;">
      <img src="assets/app.png" style="opacity:0.5;" alt="" srcset="">
    </div>
  </div>
</div>
