.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.file-opening{
  border-bottom: 1px solid #E0E0E0;
  box-sizing: border-box;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  overflow: hidden;
  padding-left: 5px;
}

.hunk-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.hunk-container:last-child {
  padding-bottom: 15px;
}

.diff {
  background-color: #FAFAFA;
  flex: 1;
  position: relative;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}