@import "../styles/layout"

.container
  display flex
  flex-direction column
  height 100%

.file-opening
  border-bottom border-devider
  box-sizing border-box
  display flex
  align-items center
  min-height 50px
  padding layout-spacing-small

.hunk-container
  margin-left layout-spacing-normal
  margin-right layout-spacing-normal
  margin-top layout-spacing-normal
  &:last-child
    margin-bottom layout-spacing-normal

.diff
  flex 1

.no-diff
  align-center()
  height 100%
