<div class="line header {{hunk.selectedState}}" (click)="toggleHunkSelectState(hunk)">
  <div class="add-operation">
    <span *ngIf="editable" class="icon"></span>
  </div>
  <div class="content">
    <pre>{{hunk.header.content}}</pre>
  </div>
</div>

<div *ngFor="let line of hunk.lines" class="line {{line.type}}" [class.selected]="line.selected" (click)="toggleSelected(line)">
  <div class="add-operation">
    <span *ngIf="editable && line.type !== 'unchanged'" class="icon"></span>
  </div>
  <div class="line-no line-no-before">
    <span *ngIf="line.oldLineNo > -1">{{line.oldLineNo}}</span>
  </div>
  <div class="line-no line-no-after">
    <span *ngIf="line.newLineNo > -1">{{line.newLineNo}}</span>
  </div>
  <div class="devider"></div>
  <div class="content">
    <pre>{{line.content}}</pre>
  </div>
</div>
