<div class="line header {{header.state}}" (click)="toggleSelected(header)">
  <div class="add-operation">
    <span class="icon"></span>
  </div>
  <div class="content">
    <span>{{header.content}}</span>
  </div>
</div>

<div class="line {{line.type}}" (click)="toggleSelected(line)" [class.selected]="line.selected" *ngFor="let line of _lines">
  <div class="add-operation">
    <span *ngIf="line.type !== 'unchanged'" class="icon"></span>
  </div>
  <div class="line-no line-no-before">
    <span *ngIf="line.lineNoBefore > -1">{{line.lineNoBefore}}</span>
  </div>
  <div class="line-no line-no-after">
    <span *ngIf="line.lineNoAfter > -1">{{line.lineNoAfter}}</span>
  </div>
  <div class="content">
    <span>{{line.content}}</span>
  </div>
</div>
