@import "../styles/font"
@import "../styles/color"
@import "../styles/layout"

.nav
  border-bottom border-devider
  display flex
  font-size font-size-normal
  height 40px
  overflow hidden
  position relative
  width 100%

.nav-component
  align-items center
  cursor pointer
  display flex
  flex 1
  height 100%
  padding-left layout-spacing-small
  padding-right layout-spacing-small
  text-align center
  transition background-color 150ms 0s ease-out

  &:not(.disabled):hover
    background-color bgcolor-hover

  &.disabled
    color font-color-secondary-text
    cursor default


  .label
    flex 1
  i
    color font-color-secondary-text
    font-size 20px
    line-height 2

  &.settings
    flex 0.5

