<div class="nav">
  <div class="nav-component" (click)="showRepositories()">
    <div class="subtitle">
      Repository
    </div>
    <div class="label">
      <span>{{repository ? repository.name : 'Repository'}}</span>
    </div>
    <div class="expand">
      <i class="material-icons">expand_more</i>
    </div>
  </div>
  <div class="nav-component" [class.disabled]="!repository" (click)="showBranches()">
    <div class="subtitle">
      Branch
    </div>
    <div class="label">
      <span>{{branch ? branch.name : 'Branch'}}</span>
    </div>
    <div class="expand">
      <i *ngIf="repository" class="material-icons">expand_more</i>
    </div>
  </div>
  <div class="nav-component">
    <div class="label">
      Files
    </div>
  </div>
  <div class="nav-component">
    <div class="label">
      History
    </div>
  </div>
  <div class="nav-component settings" (click)="showError()">
    <div class="label">
      <i class="material-icons">settings</i>
    </div>
  </div>
</div>
