@import "../styles/layout"

header-color = #616161

h2, h3
  color header-color
  font-weight normal

.container
  padding 0 layout-spacing-normal

.repositories
  display flex
  flex-wrap wrap

.list
  flex-grow 1

.input
  width 400px
