<mat-dialog-content>
    <mat-form-field style="width: 300px;">
        <input matInput placeholder="Repositoty path" [(ngModel)]="repositoryPath">
    </mat-form-field>
    <button mat-button color="primary" (click)="openPathSelectDialog()">choose...</button>
</mat-dialog-content>
<mat-dialog-actions>
    <div style="text-align: center; width: 100%;">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [disabled]="repositoryPath === ''" [mat-dialog-close]="repositoryPath">Add</button>
    </div>
</mat-dialog-actions>
