<div class="container fancy-scroll">
  <h2>Add Local Repository</h2>
  <mat-form-field style="width: 400px;">
    <input matInput placeholder="Repositoty path" [(ngModel)]="repositoryPath">
  </mat-form-field>
  <button mat-button (click)="chooseRepositoryPath()">choose...</button>
  <button mat-button color="accent" [disabled]="!repositoryPath" (click)="addRepository()">Open</button>

  <div class="list">
    <div>
      <h2>Recent</h2>
      <app-repository-list
        [repositories]="recentlyOpenedRepositories"
        (openClick)="openRepository($event)"
        (deleteClick)="deleteRepository($event)">
      </app-repository-list>
    </div>
    <div>
      <h2>All Repositories</h2>
      <app-repository-list
        [repositories]="repositories"
        (openClick)="openRepository($event)"
        (deleteClick)="deleteRepository($event)">
      </app-repository-list>
    </div>
  </div>
</div>
