<div class="container fancy-scroll">
  <h2>Add Local Repository</h2>
  <mat-form-field style="width: 400px;">
    <input matInput placeholder="Repositoty path" [(ngModel)]="repositoryPath">
  </mat-form-field>
  <button mat-button (click)="chooseRepositoryPath()">choose...</button>
  <button mat-button color="accent" [disabled]="!repositoryPath" (click)="addRepository()">Open</button>

  <h2>Recent</h2>
  <mat-list dense>
    <mat-list-item *ngFor="let r of recentlyOpenedRepositories">
      <button mat-icon-button (click)="openRepository(r)">
        <mat-icon>folder</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteRepository(r)">
        <mat-icon>delete</mat-icon>
      </button>
      <h3 matLine>{{r.name}}</h3>
      <p matLine>{{r.path}}</p>
    </mat-list-item>
    <mat-list-item *ngIf="!repositories || repositories.length === 0">
      no item
    </mat-list-item>
  </mat-list>

  <h2>All Repositories</h2>
  <mat-list dense>
    <mat-list-item *ngFor="let r of repositories">
      <button mat-icon-button (click)="openRepository(r)">
        <mat-icon>folder</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteRepository(r)">
        <mat-icon>delete</mat-icon>
      </button>
      <h3 matLine>{{r.name}}</h3>
      <p matLine>{{r.path}}</p>
    </mat-list-item>
    <mat-list-item *ngIf="!repositories || repositories.length === 0">
      no item
    </mat-list-item>
  </mat-list>
</div>
