<div class="wrapper">
  <ul class="changes">
    <li class="category">
      # Unstaged
    </li>
    <li class="change" *ngFor="let change of unstagedChanges" (click)="selectChange(change)">
      <app-change-entry [change]="change" [selected]="selectedChange === change"></app-change-entry>
    </li>

    <li class="category">
      # Staged
    </li>
    <li class="change" *ngFor="let change of stagedChanges" (click)="selectChange(change)">
      <app-change-entry [change]="change" [selected]="selectedChange === change"></app-change-entry>
    </li>

    <li class="category">
      # Conflicted!
    </li>
    <li class="change" *ngFor="let change of conflictedChanges" (click)="selectChange(change)">
      <app-change-entry [change]="change" [selected]="selectedChange === change"></app-change-entry>
    </li>
  </ul>
</div>
