<div class="wrapper fancy-scroll">
  <ul class="changes">
    <li class="category">Unstaged</li>
    <li class="change" *ngFor="let change of unstagedChanges">
      <app-change-entry [change]="change"></app-change-entry>
    </li>

    <li class="category">Staged</li>
    <li class="change" *ngFor="let change of stagedChanges">
      <app-change-entry [change]="change"></app-change-entry>
    </li>

    <li class="category">Conflicted!</li>
    <li class="change" *ngFor="let change of conflictedChanges">
      <app-change-entry [change]="change"></app-change-entry>
    </li>
  </ul>
</div>
