.changes {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.category {
  color: #78909C;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

.change {
  list-style: none;
}

.label {
  display: inline-block; /* first-letter pseudo-element selector works only in block element. */
  font-size: 14px;
}
.label::first-letter {
  font-size: 22px;
}
.label.unstaged::first-letter {
  color: #EF5350;
}
.label.staged::first-letter {
  color: #66BB6A;
}
.label.conflicted::first-letter {
  color: #FF6F00;
}

.no-item::after {
  color: #78909C;
  content: "No item ; )";
  font-size: 12px;
  padding-left: 40px;
}
