<div *ngIf="repository" class="content">
  <div class="left-pane">
    <div class="status-wrapper fancy-scroll">
      <app-status [repositoryPath]="repository.path" (entrySelectChange)="onEntrySelectChange($event)" (refreshed)="onStatusRefreshed($event)">
      </app-status>
    </div>
    <app-commit [repositoryPath]="repository.path" [hasStaged]="hasStaged"></app-commit>
  </div>
  <div class="right-pane">
    <app-diff [repositoryPath]="repository.path" [workingfile]="workingfile" (applied)="refresh()"></app-diff>
  </div>
</div>
