@import "../styles/layout"
@import "../styles/font"

.content
  display flex
  height 100%

.left-pane
  border-right border-devider
  box-sizing border-box
  display flex
  flex-direction column
  overflow hidden

  position relative

.resizer
  cursor w-resize
  height 100%
  position absolute
  right 0
  width 3px
  // background-color blue

.right-pane
  flex 1 /* Takes the rest of witdh */

.status-wrapper
  border-bottom border-devider
  flex 1

.no-repository
  height 100%
  align-center()
  .message
    font-size font-size-small
    opacity 0.7
    text-align center
