.content {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-pane {
  border-right: 1px solid #E0E0E0;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 250px; /* fix width. TODO want it to be resizable */
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.right-pane {
  flex: 1; /* Takes the rest of witdh */
}

.status-wrapper {
  border-bottom: 1px solid #E0E0E0;
  flex: 1;
}

.commit-wrapper {
  background-color: #FAFAFA;
}
