<div *ngIf="repository; else noRepository" class="content">
  <div class="left-pane" #leftPane>
    <div class="status-wrapper fancy-scroll">
      <app-status [repository]="repository" (entrySelectChange)="onEntrySelectChange($event)" (refreshed)="onStatusRefreshed($event)">
      </app-status>
    </div>
    <app-commit [hasStaged]="hasStaged" (commitDone)="refresh()"></app-commit>

    <div class="resizer" appDrag (dragging)="resizeLeftPane($event)"></div>
  </div>
  <div class="right-pane">
    <app-diff [workingfile]="workingfile" (applied)="refresh()"></app-diff>
  </div>
</div>

<ng-template #noRepository>
  <div class="no-repository fancy-scroll">
    <div>
      <div class="message">
        To begin,
        <a href="#" (click)="$event.preventDefault(); openRepositoryDialog()">select a repository</a> ; )
      </div>
      <div>
        <img src="assets/app.png" style="opacity:0.3;">
      </div>
    </div>
  </div>
</ng-template>
