.content {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-pane {
  border-right: 1px solid #E0E0E0;
  box-sizing: border-box;
  flex: 0 0 250px; /* fix width. TODO want it to be resizable */
  height: 100%;
}

.right-pane {
  flex: 1;
}
