@import "../../styles/font"

.path
  display flex
  white-space nowrap

.dir, .sep
  color font-color-secondary-text

.dir
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.filename
  flex 1
