@import "../../styles/_variables";

.img {
  max-width: 100%;
  background: url(/assets/bg_img.png);
}

.img-container {
  &:not(:first-child) {
    margin-top: var(--spacing-normal);
  }
}

.deleted {
  border: 2px solid #E57373;
}

.added {
  border: 2px solid #81C784;
}
