@import "../../styles/font"
@import "../../styles/layout"

.changes
  margin 0
  padding 0

.category
  align-items center
  display flex
  font-size font-size-normal
  height 50px
  padding 0 layout-spacing-small

.change
  list-style none

.label
  color #fff
  display inline-block
  // &.unstaged
  //   &::first-letter
  //     color #EF5350
  // &.staged
  //   &::first-letter
  //     color #66BB6A
  // &.conflicted
  //   &::first-letter
  //     color #FF6F00

.no-item
  align-items center
  display flex
  height 30px
  padding 0 layout-spacing-small
  &::after
    color #BDBDBD
    content "// No Item : )"
    font-size font-size-small

