@import "../../styles/font"
@import "../../styles/layout"

title-height = 30px

.wrapper
  padding layout-spacing-small

.title
  font-size font-size-normal
  height title-height
  line-height title-height
