<div class="wrapper" [@size]="size" (mouseenter)="toggleMouseoverState('enter')" (mouseleave)="toggleMouseoverState('leave')">
  <div class="category">
    # COMMIT
  </div>
  <div class="row">
    <input #summaryInput placeholder="Summary" class="input is-small" [value]="summary" (focus)="toggleInputFocusState('focus')" (blur)="toggleInputFocusState('blur')"
      (keyup)="updateSummary(summaryInput.value)">
  </div>
  <div class="row">
    <textarea class="textarea is-small" style="height: 80px;" matInput placeholder="Description" (focus)="toggleInputFocusState('focus')" (blur)="toggleInputFocusState('blur')"
      [(ngModel)]="description"></textarea>
  </div>
  <button color="primary" [disabled]="!commitable" class="button is-small is-primary" (click)="commit()">Commit</button>
</div>
