@import "../../styles/font"
@import "../../styles/layout"

.wrapper
  padding layout-spacing-small
  padding-top 0

.category
  align-items center
  display flex
  font-size font-size-normal
  height 50px

.row
  margin-bottom layout-spacing-small
