<div class="nav">

  <div class="nav-component" routerLink="/repository">
    <div class="title">
      Repository
    </div>
    <div class="label">
      <span>{{repository ? repository.name : 'Repository'}}</span>
    </div>
  </div>

  <div class="nav-component" [class.disabled]="!repository" routerLink="/branch">
    <div class="title">
      Branch
    </div>
    <div *ngIf="status && status.upstream" class="additional-info">
      {{status.upstream.name}} +{{status.ahead}} -{{status.behind}}
    </div>
    <div class="label">
      <span>{{branch ? branch.name : 'Branch'}}</span>
    </div>
  </div>

  <div class="nav-component icon files" routerLink="/workingfiles">
    <div class="label">
      <i class="material-icons">folder</i>
    </div>
  </div>

  <div class="nav-component icon history">
    <div class="label">
      <i class="material-icons">history</i>
    </div>
  </div>

  <div class="nav-component icon refresh" (click)="refresh()">
    <div class="label">
      <i class="material-icons">refresh</i>
    </div>
  </div>

  <div class="nav-component icon settings">
    <div class="label">
      <i class="material-icons">settings</i>
    </div>
  </div>
</div>
