@import "../../styles/font"
@import "../../styles/color"
@import "../../styles/layout"

.nav
  border-bottom border-devider
  display flex
  font-size font-size-normal
  height 50px
  overflow hidden
  position relative
  width 100%

.nav-component
  align-items center
  cursor pointer
  display flex
  flex 1
  height 100%
  padding-left layout-spacing-small
  padding-right layout-spacing-small
  position relative
  text-align center
  transition background-color 150ms 0s ease-out

  &:focus
    outline 0

  &:not(.disabled):hover
    background-color bgcolor-hover

  &.disabled
    color font-color-secondary-text
    cursor default

  .title, .additional-info
    color font-color-secondary-text
    position absolute
    font-size font-size-xsmall
  .title
    top 0
    left 0
    margin-left layout-spacing-small
  .additional-info
    bottom 0
    margin-left layout-spacing-small
    margin-right layout-spacing-small
    right 0
    width 100%

  .label
    flex 1

  i
    color font-color-secondary-text
    font-size 20px
    line-height 2

  &.icon
    flex 0.5

