@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import "app/styles/font"

html, body
  margin 0
  padding 0

body
  font-family -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif
  color rgba(0,0,0,.87)

pre
  font-family Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback"

/* Customize scroll bar without much stress because all I need to care is Chrome. */
.fancy-scroll
  overflow auto
  &::-webkit-scrollbar
    width 10px
    height 10px
    background-color #fff
    border-radius 10px
  &::-webkit-scrollbar-track
    border-radius 10px
  &::-webkit-scrollbar-thumb
    background-color #E0E0E0
    border-radius 10px

.columns
  display flex
  .column
    flex 1

.clickable
  cursor pointer

.need-caution
  color #FF7043

.secondary-text
  color font-color-secondary-text

.dialog-action
  width 100%
  text-align center

/* Overrides of Angular Material */

button.smaller
  height 30px
  line-height 30px
  font-size font-size-small

button.mat-menu-item.smaller
  height 30px
  line-height 30px
  font-size font-size-normal